<br><br><br><br><br><br>
## Regresi Linier Berganda pada Dataset Advertisting
***

### Import Package

In [2]:
from __future__ import print_function
from __future__ import division

In [3]:
# Necessary Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [4]:
from sklearn.linear_model import LinearRegression

###  Dataset

In [5]:
advertising = pd.read_csv('advertising.csv')
advertising.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [5]:
advertising.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [6]:
advertising.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

### Uji Asumsi

In [8]:
#Uji Kolmogorov-Smirnov
import pandas as pd
from scipy.stats import kstest
ksdata1 = kstest(advertising['TV'], 'norm')
ksdata2 = kstest(advertising['Newspaper'], 'norm')
ksdata3 = kstest(advertising['Radio'], 'norm')
ksdata4 = kstest(advertising['Sales'], 'norm')
print('uji kolmogorov smirnov variabel TV = ', ksdata1)
print('uji kolmogorov smirnov variabel TV = ', ksdata2)
print('uji kolmogorov smirnov variabel TV = ', ksdata3)
print('uji kolmogorov smirnov variabel TV = ', ksdata4)

uji kolmogorov smirnov variabel TV =  KstestResult(statistic=0.9949793424930875, pvalue=0.0)
uji kolmogorov smirnov variabel TV =  KstestResult(statistic=0.9593128620620841, pvalue=1.557608329647166e-278)
uji kolmogorov smirnov variabel TV =  KstestResult(statistic=0.9272498680518207, pvalue=4.661906485377375e-228)
uji kolmogorov smirnov variabel TV =  KstestResult(statistic=0.9943128620620841, pvalue=0.0)

### Multivariate Linear Regression

###### Making Independent and Dependent variables from the dataset

In [9]:
X = advertising.iloc[:,:-1] # Selecting everything except the last column
y = advertising.Sales

###### Fitting Multiple Linear Regression

In [10]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression() 
regressor.fit(X, y)

LinearRegression()

In [11]:
print("intercept:", regressor.intercept_) # This is the y-intercept 
print("coefficients of predictors:", regressor.coef_) # These are the weights or regression coefficie

intercept: 4.62512407880865
coefficients of predictors: [0.05444578 0.10700123 0.00033566]

###### Predicting the sales

In [18]:
advertising = X.iloc[199]
advertising

TV           232.1
Radio          8.6
Newspaper      8.7
Name: 199, dtype: float64

In [19]:
pred_advertising = regressor.predict(advertising.values.reshape(1, -1))
print("predicted value:", pred_advertising[0])

predicted value: 18.185120481935986

In [20]:
print("actual value:", y[199])

actual value: 18.4

In [21]:
# Predicting the results
y_pred = regressor.predict(X)
y_pred[:10]

array([21.22097209, 11.26824775, 10.49620897, 17.31244651, 15.64413685,
       10.35633677, 11.2732847 , 13.27062458,  5.31839603, 15.78871013])

In [23]:
sales = pd.DataFrame({"actual": y,
                       "predicted": y_pred})
sales['error'] = sales['actual'] - sales['predicted']
sales.head(10)

   actual  predicted     error
0    22.1  21.220972  0.879028
1    10.4  11.268248 -0.868248
2    12.0  10.496209  1.503791
3    16.5  17.312447 -0.812447
4    17.9  15.644137  2.255863
5     7.2  10.356337 -3.156337
6    11.8  11.273285  0.526715
7    13.2  13.270625 -0.070625
8     4.8   5.318396 -0.518396
9    15.6  15.788710 -0.188710

###### Measuring the goodness of fit

In [24]:
# R2
from sklearn.metrics import r2_score
r2_score(y,y_pred) # actual, prediksi

0.9025912899684558

In [25]:
# RMSE
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y,y_pred)) # actual, prediksi

1.6449942697855562

In [26]:
# MAE
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y,y_pred) # actual, prediksi

1.2363919943957848